/* style.css */
body {
    font-family: Arial, sans-serif;
	width: 100%;
	padding:0;
	margin:0;
	margin-bottom: 30px;
	background: #F1F1F1; 
	}
	

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1.5px;
    color: #158095;
}

.contenu_page  {
    font-family: Arial, sans-serif;
    display: block;
    width: 96%;
    margin-left: 20px;
    background: none;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: justify;
    padding-left: 20px;
    font-size: 17px;
    color: black;
    text-align: left;
    left: 2px;
    right: 2px;
    margin-right: 40px;
	
}

/* Ajoute la propriété max-width pour les blocs de texte */
.xmlContent, .graphiqueInteractif, #Introduction {
    max-width: 100%; /* Limite la largeur à la largeur de la .navigation */
    margin: 0 auto; /* Centre le contenu horizontalement */
}
		
.logo {
    width: 265px; /* Remplace 300px par la largeur souhaitée */
    }
	
.navigation { 
  height: 9.5px;
  position: sticky; 
  top: 72px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: #FA9038 ;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 1;
}

.navigation_pages{ 
  height: 9.5px;
  width:1050px;
  position: flex; 
  top: 72px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: #FA9038 ;
  margin-bottom: 25px;
  margin-left: 350px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 1;
  
}

.titre_CR{
	color:black;
	text-align: center;
}


/* Reset des marges et des paddings par défaut pour éviter des différences entre navigateurs 
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}*/

/* Style du header */
.container {
    height: 155px;
    position: sticky;
	width: 100%;
    top: 0px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0.3,0.3,0.3,0.9);
    background: white;
    margin-bottom: 20px;
    z-index: 1;
}

#prevButton, #nextButton{
	text-decoration: none; /* Supprimer la soulignement des liens */
    color: #fff; /* Couleur du texte des liens */
    padding: 10px; /* Espace autour du texte des liens */
    background-color: #158095; /* Couleur de fond des liens */
    border-radius: 10px 100px / 120px; /* Coins arrondis */
    transition: background-color 0.3s; /* Animation pour le changement de couleur de fond */
	box-shadow: 0 0 0px rgba(0,0,0,0.9);
}

button {
    border-radius: 10px 100px / 120px; /* Coins arrondis */
}

#prevButton:hover, #nextButton:hover {
    background-color: #96B0B7;
}

/* Style du logo */
.logo_navigation {
	margin-top: 36px;
    background-color: #;
    margin-left: 20px;
}

.menu-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
    
}

/* Style du menu principal */
.menu-container ul {
    list-style: none;
}

.menu-container li {
    display: inline-block; /* Afficher en ligne horizontale */
    margin-right: 20px; /* Marge à droite pour l'espace entre les éléments du menu */
    
}

.menu-container a {
    text-decoration: none; /* Supprimer la soulignement des liens */
    color: #fff; /* Couleur du texte des liens */
    padding: 10px; /* Espace autour du texte des liens */
    background-color: #158095; /* Couleur de fond des liens */
    border-radius: 10px 100px / 120px; /* Coins arrondis */
    transition: background-color 0.3s; /* Animation pour le changement de couleur de fond */
	box-shadow: 0 0 5px rgba(0,0,0,0.9);

}

/* Changement de couleur de fond au survol */
.menu-container a:hover {
    background-color: #96B0B7;
}

/* Style pour les sous-menus */
.menu-container ul ul {
    display: none; /* Cacher les sous-menus par défaut */
    position: absolute;
    background-color: #5CB5CB;
    border-radius: 10px 100px / 120px;
}

.menu-container ul li:hover > ul {
    display: block; /* Afficher le sous-menu au survol */
}

/* Style pour les liens des sous-menus */
.menu-container ul ul a {
    color: #fff;
    padding: 8px;
}

/* Style pour le bouton du menu réduit */
.menu-button {
    display: none; /* Cacher par défaut sur les écrans plus larges */
    font-size: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Style pour le menu principal sur les petits écrans */
@media screen and (max-width: 600px) {
    .menu ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        width: 100%;
    }

    .menu-button {
        display: block;
    }

    .menu ul li {
        display: block;
        margin: 0;
    }

    .menu a {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .menu ul ul {
        position: static;
        background-color: #555;
        border-radius: 5px;
    }
}
		
		
#content {
    display: flex;
    justify-content: space-between;
}

#left, #right {
    width: 45%;
}

#right img {
    max-width: 100%;
}

rs:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    font-size: 12px;
}

.general-background {
	display: block;
	width: 96%;
	margin-left: 20px;
	background: white;
	padding-top: 20px;
	padding-bottom: 30px;
  justify-content: center;
  padding-left: 20px;
  font-size: 17px;
  color: black;
  text-align : left ;
  left : 2px;
  right : 2px;
  margin-right: 30px;


}

.general-background p{
  font-size: 17px;
  color: black;
  text-align : justify ;
  left : 2px;
  right : 2px;
  margin-right: 70px;
}


.tabulator{
  width: 100%;
}
/* tableau Tabulator */

#tabulator-table2{
  width: 100%;
}

#tabulator-table2 {
  width:98%;
  padding-left: 0px; 
  background: #F1F1F1;

}


#tabulator-table2 {
    background-color:white;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.05),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
    height: 650px !important
}

#tabulator-table2 .tabulator-header .tabulator-col {
	background:#158095;
	height:60px;
}
#tabulator-table2 .tabulator-row  {
	height:65px;
}


#tabulator-table2 .tabulator-header .tabulator-col-content {
	display: flex;
	flex-wrap: wrap;
}

#tabulator-table2 .tabulator-cell {
	cursor: auto;
    font-size: 16px ;
    color: #4A4A4A;   
}


#tabulator-table2 .tabulator-header div{
  color: white;
  font-size: 16px;
  font-family: 'Arial';
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.section-plans {
  background-color: white;
  padding: 4rem 0 4rem 0;
}

/* CSS pour ajouter une flèche au filtre déroulant */
.tabulator-table2 .tabulator-table2-col .tabulator-table2-col-content {
    position: relative;
}

.tabulator-table2 .tabulator-table2-col .tabulator-table2-header-filter {
    padding-right: 20px; /* Ajoute un espace pour la flèche */
    position: relative;
}

.tabulator-table2 .tabulator-table2-col .tabulator-table2-header-filter::after {
    content: '\25BC'; /* Unicode pour une flèche vers le bas */
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

